
line {
  stroke: #ddd;
  stroke-width: 2;
}

circle {
  transition: cx .4s linear, cy .4s linear, r .4s linear;
  fill: #044B7F;
}

.x-axis-lines {
  stroke-dasharray: 5,5;
}

.graph-container {
  box-shadow: 0 0 1em #ddd;
}
