input[type=radio] {
  display: none;

  &+ div {
    background-color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0 auto;
    }
  }

  &:checked + div {
    background-color: #044B7F;
    color: white;
  }
}
