.metric-description-section {
  display: flex;
  flex-direction: column;
  font-size: .7em;
  padding: 0 2em;
  text-align: center;

  .metric-description {
    min-height: 105px;
    width: 100%;

    ul {
      list-style: none;
      text-align: left;
      padding-left: 1em;

      li {
        margin-bottom: .5em;
      }
    }

    @media(min-width: 900px) {
      width: 50%;

      ul {
        padding-left: 40px;

        li {
          margin-bottom: .5em
        }
      }
    }
  }

  @media (min-width: 750px) {
    flex-direction: row;
    font-size: 1em;
    margin: 0 auto;
    width: 75%;
  }

  @media (min-width: 1200px) {
    width: 60%;
  }
}
