#about {
  padding: 0 2em 2em;;

  h2 {
  font-size: 1em;
  text-align: center;

    @media(min-width: 700px) {
      font-size: 1.5em;
    }
  }

  .about-content {
    font-size: .7em;

    @media (min-width: 750px) {
      font-size: 1em;
    }
  }
}
