circle {
  transition: cx .4s linear, cy .4s linear, r .4s linear;
  fill: #044B7F;
}

.green,
.red {
  opacity: .5;
}

.green {
  stroke: #6D9F71;
}

.red {
  stroke: #AD2831;
}

$income-metrics: 'income_inequality', 'median_income';
$wellbeing-metrics: 'life_expectancy', 'teen_births', 'homicides', 'imprisonment', 'drop_outs';

@each $income-metric in $income-metrics {
  @each $wellbeing-metric in $wellbeing-metrics {

    @keyframes #{$income-metric}-#{$wellbeing-metric} {
      from {opacity: 0;}
      to {opacity: .5;}
    }

    .#{$income-metric}-#{$wellbeing-metric} {
      animation-name: #{$income-metric}-#{$wellbeing-metric};
      animation-delay: .4s;
      animation-duration: .4s;
      animation-fill-mode: backwards;
    }
  }
}

.opaque {
  opacity: .1;
}
